@***********************************@
@*  ACCOUNTS RECEIVABLE - Details  *@
@***********************************@

@model Perspective.Models.Transaction

@{
    ViewBag.Title = "Invoice Details";
    ViewBag.Description = "Selected account receivable information";
    ViewBag.Icon = "fas fa-piggy-bank";
    ViewBag.Direction = "/Receivable";
    ViewBag.IconTitle = "All accounts receivable";
}

<div id="tbl">
    <dl class="dl-horizontal">
        <dt>
            Reference Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trader.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trader.Name)
        </dd>

        <dt>
            Amount
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receivable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<button type="button" class="btn Btn" onclick="window.location.href='../Edit/@Model.Id'">Edit</button>
<button type="button" class="btn btn-danger" onclick="window.location.href='../Delete/@Model.Id'">Remove</button>