@*********************************@
@*  ACCOUNTS RECEIVABLE - INDEX  *@
@*********************************@

@model IEnumerable<Perspective.Models.Transaction>

@{
    ViewBag.Title = "Sales";
    ViewBag.Description = "All accounts receivable";
    ViewBag.Icon = "far fa-plus-square";
    ViewBag.Direction = "/Receivable/Create";
    ViewBag.IconTitle = "Add a new invoice";
    var totalIn = Model.Sum(t => t.Receivable);
}

<table id="tbl" class="table">
    <tr>
        <th>
            Reference Number
        </th>
        <th>
            Date <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortByDate })" class="fas fa-sort" title="Sort by date"></a>
        </th>
        <th>
            Name <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortByName })" class="fas fa-sort" title="Sort by name"></a>
        </th>
        <th>
            Amount
        </th>
        <th>
            Description
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trader.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receivable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="actions">
                <a href="@Url.Action("Edit", new { id = item.Id })">
                    <i class="fas fa-pen-square" title="Edit"></i>
                </a>
                <a href="@Url.Action("Details", new { id = item.Id })">
                    <i class="fab fa-trello" title="View Details"></i>
                </a>
                <a href="@Url.Action("Delete", new { id = item.Id })">
                    <i class="fas fa-window-close" title="Delete"></i>
                </a>
            </td>
        </tr>
    }

    <tr class="bg-black-gradient">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>

        <td>
            <strong><i class="fas fa-calendar-alt"></i><span> </span>@DateTime.Today.Year/@DateTime.Today.Month/@DateTime.Today.Day</strong>
        </td>

        <td>
            <strong>Total Income:</strong>
        </td>

        <td>
            <strong>&#163; @totalIn</strong>
        </td>
    </tr>
</table>
